{% extends 'itemizer/base.html' %}

{% load humanize %}
{% load bootstrap_pagination %}

{% block title %}
Filings | IRS Itemizer
{% endblock %}

{% block content %}
	<div style="text-align: center; background-color: #FFF0F5; border-radius: 10px; padding: 5px 50px 5px 50px; margin-top: 10px; margin-bottom: 20px;">
		<h1>IRS Itemizer</h1>
		<p class="lead">Explore campaign finance data reported to the IRS</p>
		<p>Some political organizations file financial disclosure reports <a href="http://www.irs.gov/Charities-&-Non-Profits/Political-Organizations/Political-Organization-Filing-and-Disclosure">with the IRS</a>. Browse, link to and download their contributions and expenditures here. Or, <a href="https://github.com/sahilchinoy/django-irs-filings">load the data in your own app.</a></p>
		<p>The IRS updates the archive every Sunday.</p>
		<p style="font-size: 12px;">by <a href="http://sahilchinoy.com">Sahil Chinoy</a> and inspired by <a href="https://projects.propublica.org/itemizer/">ProPublica's FEC Itemizer</a></p>
	</div>

	<h4><i class="fa fa-search" aria-hidden="true"></i> Search by committee</h4>
	<form style="max-width: 300px;" action="{% url 'filings-search' %}">
		<div class="input-group">
			<input class="form-control" name="q" value="{{ request.GET.q }}">
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit">Search</button>
			</span>
		</div>
	</form>

	{% bootstrap_paginate page_obj range=5 show_first_last='true' %}

	{% block list %}{% endblock %}

{% endblock %}
